{% load static %}
<!doctype html>
<html lang="en">


<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Titan | 5S Management</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'assets1/images/titanlogo.png' %}" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'assets1/css/bootstrap.min.css' %}">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="{% static 'assets1/css/font-awesome.min.css' %}">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{% static 'assets1/css/magnific-popup.css' %}">
    
    <!--====== animate css ======-->
    <link rel="stylesheet" href="{% static 'assets1/css/animate.min.css' %}">
    
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{% static 'assets1/css/slick.css' %}">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static 'assets1/css/default.css' %}">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'assets1/css/style.css' %}">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
         
        body.modal-open {
            overflow: hidden;
        }

        .image-preview {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            overflow-y: auto; /* Allow scrolling within the image preview */
        }
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            overflow: scroll;
        }
        
        .popup-content {
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            width: 80%;
            max-width: 460px;
            margin: 50px auto;
            padding: 10px;
        }

            body {font-family: Arial, Helvetica, sans-serif;}
            
            /* Full-width input fields */
            input[type=text], input[type=password] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              box-sizing: border-box;
            }
            
            /* Set a style for all buttons */
            button {
              background-color: #04AA6D;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              cursor: pointer;
              
            }
            
            button:hover {
              opacity: 0.8;
            }
            
            /* Extra styles for the cancel button */
            .cancelbtn {
              width: auto;
              padding: 10px 18px;
              background-color: #f44336;
            }
            
            /* Center the image and position the close button */
            .imgcontainer {
              text-align: center;
              margin: 24px 0 12px 0;
              position: relative;
            }
            
            img.avatar {
              width: 40%;
              border-radius: 50%;
            }
            
            .container {
              padding: 16px;
            }
            
            span.psw {
              float: right;
              padding-top: 16px;
            }
            
            /* The Modal (background) */
            .modal {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
              padding-top: 60px;
              border-radius: 10px;
              margin: 50px auto;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

            }
            
            /* Modal Content/Box */
            .modal-content {
              background-color: #fefefe;
              margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
              border: 1px solid #888;
              width: 100%; /* Could be more or less, depending on screen size */
              margin: 50px auto;
              border-radius: 10px;
            }
            
            /* The Close Button (x) */
            .close {
              position: absolute;
              right: 25px;
              top: 0;
              color: #000;
              font-size: 35px;
              font-weight: bold;
            }
            
            .close:hover,
            .close:focus {
              color: red;
              cursor: pointer;
            }
            
            /* Add Zoom Animation */
            .animate {
              -webkit-animation: animatezoom 0.6s;
              animation: animatezoom 0.6s
            }
            
            @-webkit-keyframes animatezoom {
              from {-webkit-transform: scale(0)} 
              to {-webkit-transform: scale(1)}
            }
              
            @keyframes animatezoom {
              from {transform: scale(0)} 
              to {transform: scale(1)}
            }
            
            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
              span.psw {
                 display: block;
                 float: none;
              }
              .cancelbtn {
                 width: 100%;
              }
            }
            @media (min-width: 1023px){
                .tools-thumbs > img{
                    margin-right: -18px;
                    padding-top: 102px;
                    max-width: 120%;
                }
            }
                    
    .modal-content {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 100%;
        max-width: 500px;
        margin: auto;
        overflow: Hidden;
        align-items: center;
        top: 156px;
    
    }

    .modal-content img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

            </style>
   
</head>

<body>

    <!--====== OFFCANVAS MENU PART START ======-->

    <div class="off_canvars_overlay">
                
    </div>
    <div class="offcanvas_menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="fal fa-times"></i></a>  
                        </div>
                        <div class="offcanvas-social">
                            <ul class="text-center">
                                <li><a href="%24.html"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="%24.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="%24.html"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="%24.html"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                
                                <li class="menu-item-has-children active">
                                    <a class="page-scroll" href="#home">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="page-scroll" href="#features">Why 5S</a>
                                </li>
                                <li class="menu-item-has-children ">
                                    <a class="page-scroll" href="#pricing">CMO</a>
                                </li>
                                <li class="menu-item-has-children ">
                                    <a class="page-scroll" href="#policy">Policy</a>
                                </li>
                                <li class="menu-item-has-children ">
                                    <a class="page-scroll" href="#screens">Pledge</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="page-scroll" href="#news">News</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas_footer">
                            <span><a href="mailto:layerdrop@gmail.com"><i class="fa fa-envelope-o"></i> layerdrop@gmail.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== OFFCANVAS MENU PART ENDS ======-->
   
    <!--====== HEADER PART START ======-->
    
    <header id="home" class="header-area header-v1-area">
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navigation">
                            <nav class="navbar navbar-expand-lg navbar-light ">
                                <a class="navbar-brand" href="index-2.html"><img src="{% static 'assets/images/logo_white4.png' %}" style="max-width: 55%;" alt=""></a> <!-- logo -->
                                <span class="side-menu__toggler canvas_open"><i class="fa fa-bars"></i></span><!-- /.side-menu__toggler -->
                                                                  
                                <div class="collapse navbar-collapse sub-menu-bar main-nav__main-navigation" id="navbarSupportedContent">
                                    <ul class="navbar-nav m-auto main-nav__navigation-box">
                                        <li class="nav-item active">
                                            <a class="nav-link page-scroll" href="#home">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link page-scroll" href="#features">Why5S</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link page-scroll" href="#pricing">CMO</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link page-scroll" href="#policy">Policy</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link page-scroll" href="#screens">Pledge</a>
                                        </li>
                                       
                                    </ul>
                                </div> <!-- navbar collapse -->           
                                <div class="navbar-btn d-none d-sm-flex">
                                    <a class="main-btn main-btn-2" href="#" style="border-radius: 20px;" onclick="openLoginPopup()">Login</a>
                                </div>
    
                                <div class="navbar-btn d-flex d-sm-none">
                                    <a class="main-btn main-btn-2" href="#" style="border-radius: 20px;" onclick="openLoginPopup()">Login</a>
                                </div>
                                <div id="loginPopup" class="overlay">
                    
                                        <div class="popup-content">
                                                                                        
                                            <form class="modal-content animate" method="post">
                                                <div class="imgcontainer">
                                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">                                            <a class="close-icon" href="#" onclick="closeLoginPopup()">×</a>
                                                </span>
                                                <img src="{% static 'assets/images/user/avatar-1.jpg' %}" alt="Avatar" class="avatar">
                                                </div>

                                                <div class="container">
                                                <label for="uname"><b>Username</b></label>
                                                <input type="text" placeholder="Enter Username" name="uname" required>

                                                <label for="psw"><b>Password</b></label>
                                                <input type="password" placeholder="Enter Password" name="psw" required>
                                                    
                                                <button type="submit">Login</button>
                                                
                                                </div>

                                                
                                            </form>
                                        </div>
                                 
                                </div>
                                
                                <!-- Add your other body content here -->
                                
                                <!-- Add your scripts here -->
                                <script>
                                    function openLoginPopup() {
                                        document.getElementById("loginPopup").style.display = "block";
                                    }
                                
                                    function closeLoginPopup() {
                                        document.getElementById("loginPopup").style.display = "none";
                                    }
                                    
                                </script>
                                
                            </nav>
                        </div> <!-- navigation -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!--====== HEADER PART ENDS ======-->

    <!--====== HERO PART START ======-->
    
    <section class="hero-area bg_cover d-flex align-items-center" style="background-image: url({% static 'assets1/images/hero-bg13.png ' %});">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="hero-content">
                        <h1 class="title">Streamline Workplace with 5S </h1>
                        <p>Enhance efficiency and organization in your workplace through our comprehensive 5S management system. Discover a systematic approach to Sort, Set in order, Shine, Standardize, and Sustain to optimize your operations.</p>
                        <a class="main-btn" href="#">Get Started Now</a>

                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-thumb text-right">
                        <img src="{% static 'assets1/images/hero-thumb-5.png ' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-line">
            <img src="{% static 'assets1/images/hero-line.png ' %}" alt="">
        </div>
        <div class="hero-line">
            <img src="{% static 'assets1/images/hero-line.png ' %}" alt="">
        </div>
        
    </section>
    
    <!--====== HERO PART ENDS ======-->

    <!--====== FWATURE PART START ======-->
    
    <section id="features" class="feature-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span>What 5S Means for Us</span>
                        <h3 class="title">Our List of Features</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="feature-item mt-90 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <div class="icon">
                            <img src="{% static 'assets1/images/features-icon-1.png ' %}" alt="">
                        </div>
                        <h4 class="title">SORT (SEIRI)</h4>
                        <p>Everything from the workspace should be removed and sorted into three groups or bins: keep, remove, and holding area. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="feature-item center mt-90 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="icon">
                            <img src="{% static 'assets1/images/features-icon-2.png ' %}" alt="">
                        </div>
                        <h4 class="title">SET IN ORDER (SEITON)</h4>
                        <p>Organize and arrange the appropriate items so that they are easy to access, use and return to their proper place. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="feature-item mt-90 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <img src="{% static 'assets1/images/features-icon-3.png ' %}" alt="">
                        </div>
                        <h4 class="title">SHINE (SEISOU)</h4>
                        <p>The Shine step elevates the work area by ensuring thoroughly cleaned and inspected tools and other items. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="feature-item mt-90 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <img src="{% static 'assets1/images/features-icon-3.png ' %}" alt="">
                        </div>
                        <h4 class="title">STANDARDIZE (SEIKETSU)</h4>
                        <p>Standardize, the fourth of the 5S's, involves putting the systems in place to ensure that everyone does things the same way. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="feature-item mt-90 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <img src="{% static 'assets1/images/features-icon-3.png ' %}" alt="">
                        </div>
                        <h4 class="title">SUSTAIN (SHITSUKE)</h4>
                        <p>The Sustain step ensures that 5S is applied on an ongoing basis. It transforms your standardized 5S processes into regularly completed tasks. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="features-dot">
            <img src="{% static 'assets1/images/features-dot.png ' %}" alt="">
        </div>
    </section>
    
    <!--====== FWATURE PART ENDS ======-->

    <!--====== PRICING  PART START ======-->
    
    <section id="pricing">
    <section class="benefits-area">
        <div class="container">
            <div class="row">
                <div class="benefits-line">
                    <img src="{% static 'assets1/images/benefits-line.png ' %}" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="benefits-thumb animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <img src="{% static 'assets1/images/cmo-image.png ' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="benefits-content">
                        <span>CMO's Strategic Initiatives</span>
                        <h3 class="title">Explore Titan's 5S Journey</h3>
                       
                        <p>Join Titan's Chief Manufacturing Officer, R. Rajagopalan, in implementing 5S (Workplace Management) within our division. This quality-driven approach eliminates inefficiencies, reduces waste, and fosters a safer, more organized work environment. Collaborate with us to make the 5S implementation a resounding success!.</p>
                        <button type="button" class="main-btn main-btn-3" onclick="openImagePreview()">Read Appeal</a>
                    </div>
                </div>
            </div>
        </div>
       
    </section>

    </section>
    <section id="policy">
        <section class="benefits-area">
            <div class="container">
                <div class="row">
                    <div class="benefits-line">
                        <img src="{% static 'assets1/images/benefits-line.png ' %}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="benefits-thumb animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0ms">
                            <img src="{% static 'assets1/images/policy-image.png ' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="benefits-content">
                            <span>Company's Workplace Management Policy</span>
                            <h3 class="title">Effective Work Environment</h3>
                            
                           
                            <p>Join us in our commitment to effective workplace management. Guided by our Chief Manufacturing Officer, we are dedicated to enhancing quality, eliminating inefficiencies, reducing waste, and fostering a safer, more organized work environment. Your collaboration is crucial to the resounding success of our workplace management policy.</p>
                            <button type="button" class="main-btn main-btn-3" onclick="openImagePreview2()">Read Policy</button>
                            <!-- Image preview container -->
                            <div id="imagePreview" class="image-preview">
                                <div class="modal-content animate">
                                    <span class="close" onclick="closeImagePreview()">&times;

                                    </span>
                                        <!-- Image preview -->
                                    <img src="{% static 'assets1/images/cmoimage.png' %}" alt="CMO Image">
                                </div>
                            </div>   
                            <!-- Image preview container -->
                            <div id="imagePreview2" class="image-preview">
                                <div class="modal-content animate">
                                    <span class="close" onclick="closeImagePreview2()">&times;
    
                                    </span>
                                        <!-- Image preview -->
                                    <img src="{% static 'assets1/images/policyimage.png' %}" alt="CMO Image">
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
    
        </section>
    <!--====== PRICING  PART ENDS ======-->

    <!--====== COUNTER PART START ======-->
    
    <section class="counter-area bg_cover" style="background-image: url({% static 'assets1/images/counter-bg.png ' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mt-30">
                        <h3 class="title count">4789</h3>
                        <span>Downloads</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mt-30">
                        <h3 class="title count">6400</h3>
                        <span>Likes</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mt-30">
                        <h3 class="title count">900</h3>
                        <span>5 Star Rating</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mt-30">
                        <h3 class="title count">266</h3>
                        <span>Awards</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== COUNTER PART ENDS ======-->

    <!--====== TESTIMONIAL PART START ======-->
    
    <section id="testimonials" class="testimonial-area bg_cover" style="background-image: url({% static 'assets1/images/testimonial-bg.png ' %});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="testimonial-slide">
                        <div class="testimonial-content text-center">
                            <p>Sort, Set in Order, Shine, Standardize, Sustain: Elevate Excellence Every Day!</p>
                            <h5 class="title">Anonymous</h5>
                        </div>
                        <div class="testimonial-content text-center">
                            <p>Sort with Precision, Shine with Pride, 5S Triumphs Every Stride!</p>
                            <h5 class="title">Max Orderly</h5>
                        </div>
                        <div class="testimonial-content text-center">
                            <p>Organize, Optimize, Outshine: 5S for a Seamless Tomorrow!</p>
                            <h5 class="title">Mark Methodologyh</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-users">
            <div class="item item-1">
                <img src="{% static 'assets1/images/titanlogo.png ' %}" alt="" style="height: 80px; width: 80px;">
            </div>
            <div class="item item-2">
                <img src="{% static 'assets1/images/5slo.png ' %}" alt="" style="height: 50px; width: 50px;">
            </div>
            <div class="item item-3">
                <img src="{% static 'assets1/images/titanlogo.png ' %}" alt="" style="height: 80px; width: 80px;">
            </div>
            <div class="item item-4">
                <img src="{% static 'assets1/images/5slo.png ' %}" alt="" style="height: 50px; width: 50px;">
            </div>
            <div class="item item-5">
                <img src="{% static 'assets1/images/titanlogo.png ' %}" alt="" style="height: 80px; width: 80px;">
            </div>
            <div class="item item-6">
                <img src="{% static 'assets1/images/5slo.png ' %}" alt="" style="height: 80px; width: 80px;">
            </div>
            <div class="item item-7">
                <img src="{% static 'assets1/images/titanlogo.png ' %}" alt="" style="height: 40px; width: 40px;">
            </div>
            <div class="item item-8">
                <img src="{% static 'assets1/images/5slo.png ' %}" alt="" style="height: 50px; width: 50px;">
            </div>
        </div>
    </section>
    
    <!--====== TESTIMONIAL PART ENDS ======-->

    <!--====== TOOLS PART START ======-->
    
    <section class="tools-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tools-content">
                        <span>App New Features</span>
                        <h3 class="title">Powerful Tools For Your Customers</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum lorem ipsum is simply free.</p>
                        <ul>
                            <li><i class="fas fa-check-circle"></i> Refresing to get such a personal touch. </li>
                            <li><i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate. </li>
                            <li><i class="fas fa-check-circle"></i> Velit esse cillum dolore eu fugiat nulla pariatur. </li>
                        </ul>
                        <a class="main-btn main-btn-3" href="#">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tools-thumbs animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <img src="{% static 'assets1/images/combine-image1.png ' %}" alt="">
                        <div class="tool-line">
                            <img src="{% static 'assets1/images/tools-line.png ' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== TOOLS PART ENDS ======-->

    <!--====== VIDEO PART START ======-->
    
    <div class="video-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-item">
                        <img src="{% static 'assets1/images/video-thumb.jpg' %}" alt="">
                        <div class="video-content">
                            <a href="https://www.youtube.com/watch?v=I09TqFvNgeg" class="video-popup"><i class="fas fa-play"></i></a>
                            <h3 class="title">Watch Our Video</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== VIDEO PART ENDS ======-->

    <!--====== SCREENSHOTS PART START ======-->
    
    <section id="screens" class="screenshots-area bg_cover" style="background-image: url({% static 'assets1/images/screenshots-bg.png ' %});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span>Check Before Choosing</span>
                        <h3 class="title">App Screenshots</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row screenshot-active">
                <div class="col-lg-3">
                    <div class="screenshot-item">
                        <img src="{% static 'assets1/images/screenshot-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="screenshot-item">
                        <img src="{% static 'assets1/images/screenshot-2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="screenshot-item">
                        <img src="{% static 'assets1/images/screenshot-3.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="screenshot-item">
                        <img src="{% static 'assets1/images/screenshot-4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="screenshot-item">
                        <img src="{% static 'assets1/images/screenshot-5.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="screenshot-item">
                        <img src="{% static 'assets1/images/screenshot-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== SCREENSHOTS PART ENDS ======-->

    <!--====== FAQ PART START ======-->
    
    <section class="faq-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="faq-content">
                        <span>Frequently Asked Questions</span>
                        <h3 class="title">Do You’ve Any Questions?</h3>
                        <p>There are many variations of passages of available but majority have alteration in some by inject. </p>
                        <img src="{% static 'assets1/images/faq-thumb.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="faq-accordion wow fadeInRight" data-wow-duration="1500ms">
                        <div class="accrodion-grp wow fadeIn" data-wow-duration="1500ms" data-grp-name="faq-accrodion">
                            <div class="accrodion active ">
                                <div class="accrodion-inner">
                                    <div class="accrodion-title">
                                        <h4>Pre and post launch mobile app marketing pitfalls to avoid</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div><!-- /.accrodion-inner -->
                            </div>
                            <div class="accrodion  ">
                                <div class="accrodion-inner">
                                    <div class="accrodion-title">
                                        <h4>launch mobile app Pre and post marketing pitfalls to avoid</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div><!-- /.accrodion-inner -->
                            </div>
                            <div class="accrodion ">
                                <div class="accrodion-inner">
                                    <div class="accrodion-title">
                                        <h4>avoid Pre and post launch mobile app marketing pitfalls to </h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div><!-- /.accrodion-inner -->
                            </div>
                            <div class="accrodion ">
                                <div class="accrodion-inner">
                                    <div class="accrodion-title">
                                        <h4>marketing pitfalls to avoid Pre and post launch mobile app </h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have alteration in some by inject humour or random words. </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div><!-- /.accrodion-inner -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-line">
            <img src="{% static 'assets1/images/faq-line.png ' %}" alt="">
        </div>
    </section>
    
    <!--====== FAQ PART ENDS ======-->

    <!--====== NEWS PART START ======-->
    
    <section id="news" class="news-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span>From the Blog Posts</span>
                        <h3 class="title">News & Articles</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="news-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <div class="news-thumb">
                            <img src="{% static 'assets1/images/news-1.jpg' %}" alt="">
                            <div class="date">
                                <span>20 May, 2020</span>
                            </div>
                        </div>
                        <div class="news-content">
                            <ul>
                                <li><i class="fal fa-user-circle"></i> by Admin</li>
                                <li><i class="fal fa-comments"></i> 3 Comments</li>
                            </ul>
                            <h4 class="title"><a href="single-blog.html">We launch new mobile app marketing</a></h4>
                            <p>Lorem ipsum dolor sit am adipi sicing elit, sed do consulting firms Et leggings across the nation tempor.</p>
                            <a href="single-blog.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="news-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="news-thumb">
                            <img src="{% static 'assets1/images/news-2.jpg' %}" alt="">
                            <div class="date">
                                <span>20 May, 2020</span>
                            </div>
                        </div>
                        <div class="news-content">
                            <ul>
                                <li><i class="fal fa-user-circle"></i> by Admin</li>
                                <li><i class="fal fa-comments"></i> 3 Comments</li>
                            </ul>
                            <h4 class="title"><a href="single-blog.html">We launch new mobile app marketing</a></h4>
                            <p>Lorem ipsum dolor sit am adipi sicing elit, sed do consulting firms Et leggings across the nation tempor.</p>
                            <a href="single-blog.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="news-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="news-thumb">
                            <img src="{% static 'assets1/images/news-3.jpg' %}" alt="">
                            <div class="date">
                                <span>20 May, 2020</span>
                            </div>
                        </div>
                        <div class="news-content">
                            <ul>
                                <li><i class="fal fa-user-circle"></i> by Admin</li>
                                <li><i class="fal fa-comments"></i> 3 Comments</li>
                            </ul>
                            <h4 class="title"><a href="single-blog.html">We launch new mobile app marketing</a></h4>
                            <p>Lorem ipsum dolor sit am adipi sicing elit, sed do consulting firms Et leggings across the nation tempor.</p>
                            <a href="single-blog.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-shape">
            <img src="{% static 'assets1/images/news-shape.svg' %}" alt="">
        </div>
    </section>
    
    <!--====== NEWS PART ENDS ======-->

    <!--====== DOWNLOAD PART START ======-->
    
    <section class="download-area bg_cover pt-115 pb-120" style="background-image: url({% static 'assets1/images/download-bg.png ' %});">
        <div class="brand-area">
            <div class="container">
                <div class="row brand-active">
                    <div class="col-lg-3">
                        <div class="brand-item text-center">
                            <a href="#"><img src="{% static 'assets1/images/brand-1.png ' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="brand-item text-center">
                            <a href="#"><img src="{% static 'assets1/images/brand-1.png ' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="brand-item text-center">
                            <a href="#"><img src="{% static 'assets1/images/brand-1.png ' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="brand-item text-center">
                            <a href="#"><img src="{% static 'assets1/images/brand-1.png ' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="brand-item text-center">
                            <a href="#"><img src="{% static 'assets1/images/brand-1.png ' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="brand-item text-center">
                            <a href="#"><img src="{% static 'assets1/images/brand-1.png ' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="download-items">
            <div class="container">
                <div class="col-lg-12">
                    <div class="download-content text-center">
                        <h3 class="title">Get a Best Landing Page App Now</h3>
                        <p>No setup, No credit card required and 1 month free trial</p>
                        <ul>
                            <li><a class="main-btn" href="#">Download Our App</a></li>
                            <li><a class="main-btn main-btn-2" href="#">View App Pricing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== DOWNLOAD PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    
    <footer class="footer-area pt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="footer-about mt-30">
                        <a href="#"><img src="{% static 'assets1/images/logo-2.png ' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-list pl-70 mt-30">
                        <h3 class="title">Company</h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Press Release</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Feedbacks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-list pl-100 mt-30">
                        <h3 class="title">Features</h3>
                        <ul>
                            <li><a href="#">No Setup</a></li>
                            <li><a href="#">Quick Access</a></li>
                            <li><a href="#">Secure Payment</a></li>
                            <li><a href="#">24h Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-list mt-30">
                        <h3 class="title">Integrations</h3>
                        <ul>
                            <li><a href="#">Andriod</a></li>
                            <li><a href="#">IOS App</a></li>
                            <li><a href="#">Windows App</a></li>
                            <li><a href="#">Desktop Version</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-list mt-30">
                        <h3 class="title">Follow</h3>
                    </div>
                    <div class="footer-follow">
                        <ul>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copyright-item">
                            <p>© Copyrights 2020 by Layerdrops.com</p>
                            <ul>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP START ======-->

    <a class="back-to-top">
        <i class="fal fa-angle-up"></i>
    </a>

    <!--====== BACK TO TOP ENDS ======-->

    <!--====== jquery js ======-->
    <script src="{% static 'assets1/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets1/js/vendor/jquery-3.5.0.js' %}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/popper.min.js' %}"></script>
    
    <!--====== Slick js ======-->
    <script src="{% static 'assets1/js/slick.min.js' %}"></script>
    
    <!--====== wow js ======-->
    <script src="{% static 'assets1/js/wow.js' %}"></script>
    
    <!--====== scrolling nav js ======-->
    <script src="{% static 'assets1/js/scrolling-nav.js' %}"></script>
    <script src="{% static 'assets1/js/jquery.easing.min.js' %}"></script>
    
    <!--====== appear js ======-->
    <script src="{% static 'assets1/js/jquery.appear.min.js' %}"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="{% static 'assets1/js/jquery.magnific-popup.min.js' %}"></script>
    
    <!--====== Main js ======-->
    <script src="{% static 'assets1/js/main.js' %}"></script>
    <script>
        function openImagePreview() {
            // Disable body scrolling
            document.body.style.overflow = 'hidden';
            document.getElementById('imagePreview').style.display = 'block';
        }
    
        function closeImagePreview() {
            // Enable body scrolling when the image preview is closed
            document.body.style.overflow = 'auto';
            document.getElementById('imagePreview').style.display = 'none';
        }
    
        function openImagePreview2() {
            document.getElementById('imagePreview2').style.display = 'block';
        }
    
        function closeImagePreview2() {
            document.getElementById('imagePreview2').style.display = 'none';
        }
    </script>
</body>


</html>
